.createEventModal {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  .groupEventModal {
    border-radius: 10px;
    width: 480px;
    height: 551px;
    background-color: #f3f4f9;
    position: relative;
    margin: 0 auto;
    transform: translate(0, 50%);
    padding: 20px;
    background: #f3f4f9;
    text-align: center;
    .eventContentBox {
      padding: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      input {
        border-radius: 10px;
        margin-bottom: 20px;
        border: 2px solid #353866;
        height: 40px;
        font-size: 14px;
        padding: 9px 12px;
        color: black;
        background: #f3f4f9;
      }
      button {
        margin: 0 auto;
        width: 20%;
        cursor: pointer;
        background-color: #353866;
        color: white;
        margin-top: 30px;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        border-style: none;
      }
      #eventMap {
        margin-top: 20px;
      }
    }
  }
}
