@import url('https://fonts.googleapis.com/css?family=Kanit:400,900');

@mixin btnStyle {
  border-radius: 5rem;
  border: none;
  outline: none;
  background: #e1e5ee;
  box-shadow: -5px -5px 10px rgb(209, 195, 195), 5px 5px 10px grey;
}

/////////////////////
// animation 함수들 //
////////////////////

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes opacityText1 {
  0% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityText2 {
  0% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes showGraph {
  0% {
    transform: rotateX(90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
////////////////////////////////////
////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 235, 235);
}

#firstContainer {
  display: flex;
  flex-direction: column;
}

.pointWrap {
  position: fixed;
  right: 3vw;
  top: 40%;
  z-index: 10;
  li {
    background-color: #666;
    list-style: none;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-out;
    &:active {
      background-color: rgb(255, 5, 5);
    }
  }
}

.section {
  box-shadow: 0 0 10px 5px #e1e5ee;
  border-radius: 1rem;
  margin-top: 1.5rem;
  height: 100vh;
  background-color: #fff;
  h1 {
    position: absolute;
    color: rgb(181, 76, 94);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
  }
  #serviceDesc {
    position: absolute;
    color: #fff;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.section1 {
  margin-top: 0;
  border-radius: 0;
  height: 100vh;
  background: url(../images/bg2.jpg) no-repeat;
  background-size: cover;
}

.animated-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // top: 260%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // position: absolute;
  font-family: Roboto, Arial, sans-serif;
  > div {
    position: absolute;
    width: 100%;
    div {
      position: absolute;
      width: 100%;
      word-wrap: nowrap;
      span {
        display: block;
      }
    }
    &.text-top {
      width: 20rem;
      border-bottom: 0.5rem solid #000;
      line-height: 2rem;
      .hogu {
        bottom: 0;
        font-size: 20px;
        font-weight: 800;
        &.active {
          animation: showTopText 1s;
          animation-fill-mode: forwards;
          animation-delay: 0.5s;
        }

        .text {
          color: #d07d7b;
          opacity: 0;
          &.active {
            animation: opacityText1 1s;
            animation-fill-mode: forwards;
            animation-delay: 0.5s;
          }
        }
        .text2 {
          color: #9cc0ba;
          opacity: 0;
          &.active {
            animation: opacityText2 1s;
            animation-fill-mode: forwards;
            animation-delay: 0.5s;
          }
        }
      }
    }
    &.text-bottom {
      width: 320px;
      font-size: 20px;
      font-weight: 800;
      // bottom: 0;
      div {
        margin-top: 10px;
        top: 0;
        opacity: 0;
        &.active {
          animation: showBottomText 0.5s;
          animation-fill-mode: forwards;
          animation-delay: 1.75s;
        }
      }
    }
    &.graph {
      width: 100%;
      height: 80%;
      border-radius: 1rem;
      opacity: 0;
      .graph_img {
        border-radius: 2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.active {
        animation: showGraph 1s;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        animation-timing-function: ease-out;
      }
    }
  }
}

.section3 {
  display: flex;
  flex-direction: column;
  .item2 {
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
    align-items: center;

    span {
      font-size: 2rem;
      font-weight: 800;
      margin-right: 1rem;
      &:nth-child(1) {
        color: green;
      }
      &:nth-child(2) {
        color: rgb(181, 76, 94);
      }
      &:nth-child(3) {
        color: rgb(82, 180, 218);
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      flex: 1 1 100%;
    }
  }

  #cardWrapper {
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .card {
      margin: 0 1rem;
      box-shadow: 0 0 10px 5px #e1e5ee;
      border-radius: 1rem;
      height: 50%;
      width: 50%;
      .card_img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.section4 {
  // border: 1rem solid blue;
  min-height: 100vh;
  background-color: rgb(240, 235, 235);
  display: flex;
  flex-direction: row;
  .innerWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    // border: 1rem solid white;
    margin: 1rem;
    border-radius: 1rem;
    &:nth-child(1) {
      flex: 1 1 50%;
      .innerItemHeader {
        // border: 0.5rem solid violet;

        padding: 1.5rem 1.5rem 0 1.5rem;
        flex: 0.2 1 auto;
        h3 {
          font-size: 25px;
          color: rgb(181, 76, 94);
        }
      }
    }
    &:nth-child(2) {
      flex: 1 1 50%;
      .innerItemHeader2 {
        // border: 0.5rem solid violet;
        padding: 1.5rem 1.5rem 0 1.5rem;
        flex: 0.2 1 auto;
        h3 {
          color: green;
          font-size: 25px;
        }
      }
    }
    .innerItemImage {
      background-color: black;
      // border: 1rem solid green;
      border-radius: 1rem;
      align-self: center;
      margin-bottom: 10rem;
      // padding: 5rem;
      flex-grow: 0.8;
      flex-shrink: 0;
      width: 80%;
      background: url('https://images.pexels.com/photos/6422563/pexels-photo-6422563.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
      background-size: cover;
    }
  }
}

.section5 {
  // border: 1rem solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .innerWrap {
    height: 100%;
    flex: 1 0;
    // border: 1rem solid red;
    text-align: center;
    padding-top: 3rem;
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
    div {
      width: 50%;

      // border: 1rem solid green;
      height: 60%;
      margin: 0 auto;
      margin-top: 2rem;
      img {
        border-radius: 3rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 800px) {
  .section4 {
    flex-direction: column;
    height: 200vh;
  }
}

.btn_toMain {
  @include btnStyle;
  margin-top: 15px;
  width: 10rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  transition: background 0.5s ease-in-out;
  &:hover {
    background: rgb(235, 166, 166);
    color: white;
    cursor: pointer;
  }
}
