.myPageContainer {
  // border: 1rem solid blue;
  margin: 0 auto;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  .userInfoBox {
    width: 100%;
    // border: 1rem solid red;
    display: flex;
    flex: 1 1 50%;
    flex-direction: row;
    .userImage {
      width: 50%;
      border: 1rem solid black;
      flex: 1 1 auto;
      .formTest {
        text-align: center;
      }
    }
    .userInfo {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1rem solid pink;
      flex: 1 1 auto;
      > span {
        align-self: center;
      }
    }
  }
  .userGroupBox {
    flex: 1 0 50%;
    border: 1rem solid sandybrown;
  }
}

@media screen and (max-width: 800px) {
  .myPageContainer {
    .userInfoBox {
      border: 1rem solid seagreen;
      flex-direction: column;
      .userImage {
        width: 100%;
      }
      .userInfo {
        width: 100%;
      }
    }
  }
}
