@mixin btnStyle {
  border-radius: 5rem;
  border: none;
  outline: none;
  background: #e1e5ee;
  // box-shadow: -5px -5px 10px rgb(209, 195, 195), 5px 5px 10px grey;
}

$color-background: #252c41;
$color-pink: #f1404b;
$color-yellow: #dddfe6;
$color-blue: #f4f5f9;

.myPageContainer {
  // border: 1rem solid blue;
  justify-content: space-between;
  margin: 0 auto;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  .userInfoBox {
    margin-top: 30px;
    width: 100%;
    // border: 1rem solid red;
    display: flex;
    flex: 0.5 0.5 40%;
    flex-direction: row;
   .userImage {
      width: 50%;
      display: flex;
      justify-content: center;
      text-align: center;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50px;
      border: 1rem solid #34314c;
      flex: 3;
      img{
        width: 50%;
        display: flex;
        // flex-grow: 3;
        flex-basis: 0;
        // position: relative;
        justify-content: center;
        align-items: center;
        // border: 0.3rem solid #34314c;
        border-radius: 1rem;
        background-color: white;
      }
      form {
        width: 100%;
        display: flex;
        justify-content: center;
        input{
          padding: 6px 20px;
          background-color:#f4f5f9;
          border-radius: 1rem;
          color: #34314c;
          cursor: pointer;
          justify-content: bottom;
        }
      }
    }
    .userInfo {
      margin: 0 auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f4f5f9;
      border-radius: 50px;
      border: 1rem solid #34314c;
      // border: 1rem solid pink;
      flex: 1;
      button {
        // margin-right: 20px;
        // // display: inline-block;
        // // margin-top: 4vh;
        // margin-right: 20px;
        font-size: 18px;
        font-weight: 600px;
        color:#34314c;
        text-decoration: none;
        background-color: #f4f5f9;
        transition: all 0.5s ease-in-out;
        border-color: transparent;
        &:hover {
          // background:
          color: #fa5a5a;
          cursor: pointer;
        }
      }
      input {
        border-radius: 10px;
        margin-bottom: 50px;
        border: 2px solid #353866;
        height: 40px;
        font-size: 14px;
        padding: 9px 12px;
        color: black;
        background: #f3f4f9;
      }
      > span {
        align-self: center;
      }
      p {
        text-align: center;
      }
    }
  }
  .userGroupBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 50%;
    flex: 1 0 50%;
    border: 1rem solid #34314c;
    border-radius: 50px;
    h2{
      font-family: Roboto, Arial, sans-serif;
      text-align: center;
    }
    ul{
      justify-self: flex-end;
      justify-content: center;
      list-style: none;
      li{
        font-family: Roboto, Arial, sans-serif;
        margin-top: 0 auto;
        text-shadow: 2px 2px 2px gray;
        font-weight: bold;
        font-size: 18px;
        text-align: center;

      }
    }
  }
}

@media screen and (max-width: 800px) {
  .myPageContainer {
    .userInfoBox {
      // border: 1rem solid seagreen;
      flex-direction: column;
      .userImage {
        width: 100%;
      }
      .userInfo {
        width: 100%;
      }
    }
  }
}
