.myPageContainer {
  border: 1rem solid blue;
  margin: 0 auto;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  .userInfoBox {
    flex: 1 0 auto;
    border: 1rem solid red;
    display: flex;
    flex-direction: row;
    width: 100%;
    .userImage {
      border: 1rem solid salmon;
      flex: 1 0 50%;
    }
    .userInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1rem solid pink;
      flex: 1 0 50%;
      > span {
        align-self: center;
      }
    }
  }
  .userGroupBox {
    flex: 1 0 auto;
    border: 1rem solid sandybrown;
  }
}
