@mixin btnStyle {
  border-radius: 5rem;
  border: none;
  outline: none;
  background: #e1e5ee;
  // box-shadow: -5px -5px 10px rgb(209, 195, 195), 5px 5px 10px grey;
}

$color-background: #252c41;
$color-pink: #f1404b;
$color-yellow: #dddfe6;
$color-blue: #f4f5f9;

.myPageContainer {
  // border: 1rem solid blue;
  margin: 0 auto;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  .userInfoBox {
    margin-top: 80px;
    width: 100%;
    // border: 1rem solid red;
    display: flex;
    flex: 0.5 0.5 40%;
    flex-direction: row;
    .userImage {
      width: 50%;
      display: flex;
      text-align: center;
      position: relative;
      // justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50px;
      border: 1rem solid #34314c;
      flex: 1 1 auto;
      .form {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: flex-end;
        align-items: top;
        padding: 6px 20px;
        background-color: beige;
        border-radius: 1rem;
        color: black;
        cursor: pointer;
      }
    }
    .userInfo {
      margin: o auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      border-radius: 50px;
      border: 1rem solid #34314c;
      // border: 1rem solid pink;
      flex: 1 1 auto;
      button {
        // margin-right: 20px;
        // // display: inline-block;
        // // margin-top: 4vh;
        // margin-right: 20px;
        font-size: 18px;
        font-weight: 600px;
        color: white;
        text-decoration: none;
        background-color: #aaabd3;
        transition: all 0.5s ease-in-out;
        border-color: transparent;
        &:hover {
          // background:
          color: #34314c;
          cursor: pointer;
        }
      }
      input {
        border-radius: 10px;
        margin-bottom: 20px;
        border: 2px solid #353866;
        height: 40px;
        font-size: 14px;
        padding: 9px 12px;
        color: black;
        background: #f3f4f9;
      }
      > span {
        align-self: center;
      }
    }
  }
  .userGroupBox {
    flex: 1 0 50%;
    border: 1rem solid sandybrown;
  }
}

@media screen and (max-width: 800px) {
  .myPageContainer {
    .userInfoBox {
      // border: 1rem solid seagreen;
      flex-direction: column;
      .userImage {
        width: 100%;
      }
      .userInfo {
        width: 100%;
      }
    }
  }
}
